.form-container {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 50px auto; /* Center the form horizontally */
}
 
form {
    display: flex;
    flex-direction: column;
}
 
.form-group {
    margin-bottom: 15px;
}
 
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
 
input, textarea, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
 
input, textarea {
    background-color: #f9f9f9;
    color: #000;
}
 
button {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
 
button:hover {
    background-color: #333;
}
 