<app-header></app-header>

<div class="background-image d-flex justify-content-center align-items-center mt-4">
    <div class="overlay text-center p-4 shadow-lg rounded">
        <h2>Bid with Confidence, Win with Ease!</h2>
        <p>Immerse yourself in the thrill of winning and the simplicity of bidding with our seamless online auction platform.</p>
    </div>
  </div>
  
  
  <div class="container mt-5 mb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" src="assets/camera.jpg" alt="Card image cap"  style="height: 400px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Camera</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" src="assets/chair.jpg" alt="Card image cap"  style="height: 400px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Sofa</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/clock.jpg" alt="Card image cap"  style="height: 400px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Clock</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" src="/assets/flea.jpg" alt="Card image cap"  style="height: 400px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">Gramophone</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <app-footer></app-footer>